<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <title>success</title>
</head>
<body>
    <div class="container">
        <p class="successp">The weather is currently <%= weatherdescription %>.<p>
        <p class="successp">The temperature in <%= cityname %> is <%= temp %> degrees Celsius.<p>
        <img class="imgp" src="<%= imageurl %>" >
    </div>
</body>
</html>
